body {
  margin: 0;
  padding: 0;
}

.txt {
  font-size: 20px;
  line-height: 23px;
  font-weight: 300;
}

.title_2 {
  font-size: 35px;
  line-height: 38px;
  font-weight: 300;
  text-transform: capitalize;
}

.products-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 105px;
  background-color: black;
  margin-bottom: 35px;
}

.catalog__header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form {
  margin-right: 50px;
  border-bottom: 2px solid white;
}

.search-form:hover {
  border-bottom-color: aqua;
}

.search-form:hover .search-from__svg {
  fill: aqua;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.search-form input {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  width: 180px;
}

.search-form button {
  outline: none;
  border: none;
  background: black;
}

.search-form button > svg {
  width: 25px;
  fill: white;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.catalog__header-title {
  color: white;
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 40px;
  line-height: 43px;
  text-decoration: none;
}

.catalog__header-title:hover {
  color: aqua;
}

.catalog__header-btn-cart {
  display: block;
  background-color: black;
  outline: none;
  border: none;
  width: 32px;
  height: 29px;
  position: relative;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  margin-right: 15px;
}

.catalog__header-btn-cart:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.catalog__header-btn-cart svg {
  fill: #FFFFFF;
}

.catalog__header-btn-cart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  width: 19px;
  height: 19px;
  background: #467bec;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: -9px;
}

.catalog__header-btn-cart:hover svg {
  fill: aqua;
}

.catalog__header-btn-cart:active svg {
  fill: red;
}

.catalog__header-btn-cart:hover span {
  color: #467bec;
  background-color: #FFFFFF;
}

.catalog__header-btn-cart:active span {
  color: red;
  background-color: #FFFFFF;
}

.catalog__header-basket-wrp {
  position: relative;
}

.catalog__header-basket-modal {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  z-index: 100;
  top: 56px;
  right: -85px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.13));
}

.catalog__header-basket-modal:after {
  content: '';
  position: absolute;
  right: 95px;
  top: -40px;
  border: 20px solid transparent;
  border-bottom: 20px solid white;
}

.catalog__header-basket-modal-close {
  color: #000;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.catalog__header-basket-products {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.catalog__header-basket-products-another {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.catalog__header-basket-products-another span {
  line-height: 23px;
  font-size: 20px;
  font-weight: 500;
}

.catalog__header-basket-products-item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.catalog__header-basket-products-item-wrp {
  margin: 0 30px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__header-basket-products-item-wrp-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
}

.catalog__header-basket-products-item-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.catalog__header-basket-products-item-photo {
  width: 100px;
  height: 100px;
}

.catalog__header-basket-products-item-txt {
  font-size: 15px;
  line-height: 17px;
  font-weight: 300;
}

.catalog__header-basket-products-item-btn {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  border: none;
}

.catalog__header-basket-products-item-btn span {
  color: white;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.products-item-photo {
  max-width: 350px;
}

.products-item {
  display: block;
  margin: 0 30px 30px 0;
  position: relative;
  background: #F8F8F8;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.products-item:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.products-item:hover .products-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item:nth-child(3n+3) {
  margin-right: 0;
}

.products-item:hover .products-item-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.products-item:hover .products-item-btn :hover svg {
  fill: #000;
}

.products-item:hover .products-item-btn :active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.products-item:hover .products-item-btn:active svg {
  fill: #fff;
}

.products-item:hover .products-item-photo {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.products-item:hover .products-item-photo:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}

.products-item-wrp {
  padding: 0 18px 20px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.products-item-btn {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}

.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  min-height: 105px;
  margin-top: 75px;
}

.footer__copyright {
  color: white;
}

.footer__copyright:hover {
  color: aqua;
}

.create-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create-form-legend {
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
}

.create-form-label {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin: 10px 0;
}

.create-form-input {
  height: 30px;
}

.create-form-input::-webkit-input-placeholder {
  font-size: 15px;
  color: #504d4d;
}

.create-form-input:-ms-input-placeholder {
  font-size: 15px;
  color: #504d4d;
}

.create-form-input::-ms-input-placeholder {
  font-size: 15px;
  color: #504d4d;
}

.create-form-input::placeholder {
  font-size: 15px;
  color: #504d4d;
}

.create-form-input.invalid {
  border: 2px solid red;
}

.create-form-input.valid {
  border: 2px solid green;
}

.create-form-button {
  max-width: 200px;
  padding: 10px 0;
  margin-top: 20px;
}

.msgError {
  font-size: 17px;
  border: 1px solid red;
  padding: 5px;
  background-color: red;
}

.padding-site {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
/*# sourceMappingURL=style.css.map */